{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>yorushika introduction website</title>
  {% comment %} <link rel="stylesheet" href="{% sass_src 'yorushika/css/yorushika-style.scss' %}" /> {% endcomment %}
  <meta name="description" content="ページの概要分を記載します">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  {% include 'yorushika/header.html' %}
  <main class="">
    {% block content %}{% endblock %}
	</main>
  {% include 'yorushika/footer.html' %}
</body>
</html>