{% load static %}
{% load sass_tags %}

<header class="contents-header">
  <div class="header-inner">
    <a class="header-logo" href="{% url 'yorushika:index' %}">
      <img src="{% static 'yorushika/img/header/yorushika_logo.png' %}" alt="yorushika">
    </a>
    <button class="toggle-menu"></button>
    <div class="headerl-menu">
      <nav class="site-menu">
        <ul>
          <li><a href="{% url 'yorushika:overview' %}">OVERVIEW</a></li>
          <li><a href="{% url 'yorushika:recommend' %}">RECOMMEND</a></li>
          <li><a href="{% url 'yorushika:album' %}">ALBUM</a></li>
          <li><a href="{% url 'yorushika:sanctuary' %}">SANCTUARY</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>