{% load static %}
{% load sass_tags %}

<header class="contents-header">
  <div class="header-inner">
    <a class="header-logo" href="{% url 'yorushika:index' %}">
      <img class="logo" src="{% static 'yorushika/img/header/yorushika_logo.png' %}" alt="yorushika">
    </a>
    <button class="toggle-menu"></button>
    <div class="header-menu">
      <nav class="site-menu">
        <ul class="nav-menu">
          <li class="nav-list">
            <a class="link" href="{% url 'yorushika:overview' %}">OVERVIEW</a>
          </li>
          <li class="nav-list">
            <a class="link" href="{% url 'yorushika:recommend' %}">RECOMMEND</a>
          </li>
          <li class="nav-list">
            <a class="link" href="{% url 'yorushika:album' %}">ALBUM</a>
          </li>
          <li class="nav-list">
            <a class="link" href="{% url 'yorushika:sanctuary' %}">SANCTUARY</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-list">
              <a class="link" href="{% url 'yorushika:mypage' %}">MYPAGE</a>
            </li>
            <li class="nav-list">
              <a class="link" href="{% url 'yorushika:logout' %}">LOGOUT</a>
            </li>
          {% else %}
            <li class="nav-list">
              <a class="link" href="{% url 'yorushika:login' %}">LOGIN</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>