{% extends 'yorushika/base.html' %}

{% block content %}

<div class="first-view">
  <div class="view-text">
    <h1 class="title">Welcome to the site <br>that introduces Yorushika</h1>
    <p class="text">please have a good stay</p>
  </div>
</div>
<div class="first-lead">
  <p class="lead">このサイトではヨルシカについて記載しています。<br>
    ヨルシカの概要やアルバム、<br>
    人気曲やおすすめ曲について紹介しています。<br>
    ヨルシカの良さが少しでも多くの人に伝わればと思います。
  </p>
  <div class="link-button">
    <a class="link" href="{% url 'yorushika:overview' %}">OVERVIEW</a>
  </div>
</div>
<div class="recommend-song">
  <h2 class="header">RECOMMEND</h2>
  <ul class="item-list">
    {% for song in songs %}
      <li class="song-list">
        <img src="{{ song.image.url }}" class="image" alt="おすすめ曲の画像">
        <dl class="song-detail">
          <dt class="detail-header">
            <span class="title">{{ song.title }}</span>
            <a class="spotify" href="{{ song.url }}">spotifyで聞く</a>
          </dt>
          <dd class="text">{{ song.text }}</dd>
        </dl>
      </li>
    {% endfor %}
  </ul>
  <div class="link-button">
    <a class="link" href="{% url 'yorushika:recommend' %}">RECOMMEND</a>
  </div>
</div>

{% endblock %}