{% extends 'yorushika/base.html' %}

{% block content %}

<div class="top-image -mypage">
  <h1 class="title">MYPAGE</h1>
  <p class="text">マイページ</p>
</div>

<h2 class="user-name">{{ user.username }}</h2>
<div class="header-menu">
  <a class="post" href="{% url 'yorushika:recommend_new' %}">新規作成</a>
</div>

<ul class="grid-list">
  {% for recommend in recommends %}
    <li class="grid-item">
      <a class="song-link" href="{% url 'yorushika:recommend_detail' recommend.id %}">
        <img src="{{ recommend.song.album.image.url }}" class="image" alt="おすすめ曲の画像">
        <dl class="item-detail">
          <dt class="title">{{ recommend.song }}</dt>
          <dd class="text">{{ recommend.text|truncatechars:100 }}</dd>
        </dl>
        <a class="spotify" href="{{ recommend.song.url }}" target="_blank">spotifyで聞く</a>
        <p class="album">{{ recommend.song.album.title }}</p>
      </a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
