<aside class="side-menu">
  <div class="menu-inner">
    <h2 class="title">{{ menu_title }}</h2>
    <ul class="menu-list">
      {% for recommend in recommends %}
        <li class="list-item">
          {% comment %} 条件分岐がびみょうすぎる {% endcomment %}
          {% if link == "mypage" %}
            <a class="link" href="{% url 'yorushika:mypage_detail' recommend.id %}">{{ recommend.song.title }}</a>
          {% elif link == "recommend"%}
            <a class="link" href="{% url 'yorushika:recommend_detail' recommend.id %}">{{ recommend.song.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</aside>
