{% extends 'yorushika/base.html' %}

{% block content %}

<form method="POST" action="{% url 'yorushika:signup' %}">
  {% csrf_token %}
  <label>ユーザー名</label>
  {{ form.username }}
  {{ form.username.errors }}<br>
  <label>パスワード</label>
  {{ form.password1 }}
  {{ form.password1.errors }}<br>
  <label>パスワード(確認)</label>
  {{ form.password2 }}
  {{ form.password2.errors }}<br>
  <input type="submit" value="SUBMIT">
</form>

<p><a href="{% url 'yorushika:login' %}">ログインはこちら</a></p>

{% endblock %}