.movie-frame {
  width: 100%;

  >.movie {
    display: block;
    width: 100%;
    height: 456px;
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .movie-frame {
    .movie {
      height: 240px;
    }
  }
}