.song-list {
  flex-shrink: 0;
  width: 260px;
  margin-left: 75px;

  >.image {
    max-width: 100%;
  }
}

.song-list:first-child {
  margin-left: 0;
}

@media (max-width:800px) {
  .song-list {
    width: 220px;
    margin-left: 30px;
  }
}